*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2{
    text-align: center;
    padding: 12px;
}
.container >p{
    font-size: 20px;
    text-align: center;
    margin-top:18px;
}
h2{
    margin-top: 23px;
}
th, td{
    padding: 8px;
    border: 2px solid black;
    text-align: center;
}
a{
    text-decoration: none;
    color: orange;
}
a:hover{
    color: rgb(207, 34, 34);
}

.container{
    background-color: orange;
}
table{
    background-color: white;
    width: 100%;
}
