/* Change Password CSS */
* {
    margin: 0;
    padding: 0;
  
    
  }
  
  .container{
      margin-top: 40px;
  }
  .welcome {
    font-size: 30px;
    text-align: center;
    padding: 12px 0;
  }
  .login {
    text-align: center;
    margin: 15px 30px;
  }
  .login > p {
    font-size: 22px;
  }
  input[type="text"], input[type="password"] {
    border-radius: 10px;
    height: 26px;
    width: 221px;
    margin-top: 30px;
    outline: none;
    border: transparent;
  }
  #passPara {
    margin-top: -12px;
  }
  #remember {
    margin: 15px;
    position: relative;
    left: -55px;
  }
  button, button a{
      width: 178px;
      height: 30px;
      border-radius: 10px;
      background-color: #bc3626;
      outline: none;
      border: none;
      color: white;
      margin-top: 16px;
      text-decoration: none;
  }
  #forgotPassword, #forgotPassword a{
      text-decoration: none;
      color: black;
      margin-top: 12px;
  }
#save button{
    cursor: pointer;
}

